/* 整体公共样式*/
body{
    margin:0;
    padding:0;
    width:100%;
    background:#f7f7f7;
    font-family:微软雅黑;
    display: block;
    box-sizing:border-box;
    /* float:left; */
}
div{
    margin:0 auto;
}
/*大屏*/
@media screen and (min-width:1199px){
.container{
    width:1200px;
    background: #f0f;
}
.list_body{
    width:45%;
    height:130px;
    background-color:#0f0;
    border:1 solid #d5d5d5;
    line-height:40px;
    padding:0px;
    display: block;
    list-style: none;
    float:left;
}
.list_body>img{
    width:90px;
    height:90px;
    /* line-height: 90px; */
    display:float;
    
}
.list_div{
    width:100px;
    height:110px;
    float:left;
    display:block;
}
}