/* 整体公共样式*/
body{
    margin:0;
    padding:0;
    width:100%;
    background:#f7f7f7;
    font-family:微软雅黑;
    display: block;
    box-sizing:border-box;
    float:left;
}
div{
    margin:0 auto;
}
/*大屏*/
@media screen and (min-width:1199px){
.container{
    width:1200px;
    background: #f0f;
}
.list_body{
    width:45%;
    height:130px;
    background-color:#fff;
    border:1px solid #d5d5d5;
    line-height:40px;
    margin-right:15px;
    margin-bottom:20px;
    display: block;
    list-style: none;
    float:left;
}
.list_body>img{
    width:90px;
    height:90px;
    /* line-height: 90px; */
    float:left;
    
}
.list_div{
    width:48%;
    height:100px;
    float:left;
    display:block;
    color:#262626;
    font-size:13px;
}
.list_div dt{
    margin:0;
    color:#999;
    font-size:20px; 
}
.list_div dd{
    margin:0;
    color:#999;
    font-size:15px; 
}
.list_div dd img{
    width:20px;
    height:20px;
    margin:0;
}
}
