/* 整体公共样式*/
body{
    margin:0;
    padding:0;
    width:100%;
    background:#f7f7f7;
    font-family:微软雅黑;
    box-sizing:border-box;
    display:flex;
    justify-content: space-between;
    text-align: center;
    height: 100%;
}
div{
    margin:0;
    padiing:0;
}
/*大屏*/
@media screen and (min-width:1201px){
    /*头部样式*/
    .header{
        box-sizing:border-box;
        width:100%;
        height:60px;
        background:#262626;
        display:flex;
        flex-direction:row;
        justify-content:space-between;	
        text-align:center;
        line-height:60px;
        list-style: none;
        font-size:15px;  
        position: absolute;
        z-index: 100;
        top:0;
        left:0;
    }
    /* 返回首页的logo */
    .nlogo{
        box-sizing: border-box;
        width:15%;
        height:50px;
        line-height:50px;
        margin:auto 0;
        /* text-align: center; */
    }
    .header .nlogo a{
        height:50px;
        line-height:50px;
        display: flex;
        text-align:right;
        /* padding-left:20%; */
    }
    /* 导航条 */
    .header_bar{
        width:1200px;
        display: flex;
        justify-content: space-between;
        padding-left:0;
    }
    .header_bar li{
        display:block;
        margin:0;
        padding: 0;
        color:#fff;
        width:100%;
        height:50px;
    }
    .header_bar li:hover .sy,
    .header_bar li:hover .hdzx,
    .header_bar li:hover .ydsy,
    .header_bar li:hover .ppss,
    .header_bar li:hover .xxcy,
    .header_bar li:hover .VIPhy,
    .header_bar li:hover .fwss,
    .header_bar li:hover .jrwm{
        display:block;
        overflow: none;
        background-color:red;
        height:50px;
        transition:background-color 1s;
        color:#fff;
        text-align: center;
    }
    .header_bar li:hover .ydsy,
    .header_bar li:hover .sy{
        height:59px;
    }
    .header_bar li a{
        display: block;
        color:#ccc;
        text-decoration:none;
        margin:0;
        padding: 0;  
        font-size:15px;
    }
    .header_bar li span{
        display: block;
        height:10px;
        line-height: 10px;
        width: 100%;
    }
    .header_bar li:hover span{
        background-color:#fff;
    }
    .header_bar li ul li{
        width:100%;
        height:40px;
        text-align:center;
        box-sizing: border-box;
        line-height:40px;
        padding:auto 0;
        margin:auto 0px;
    }
    .header_bar li ul li a{
        color:#777;
        font-size:14px;
        font-weight: normal;
    }
    .header_bar li ul li a:hover{
        color:rgba(230, 34, 34, 0.856);
    }
    .header_bar li ul{
        display: block;
        margin:0;
        padding: 0;
        background-color:#fff;
        text-align: center;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .header_bar li .subs,
    .header_bar li .sybs{
        display: none;
    }
    .header_bar li:hover .subs,
    .header_bar li:hover .sybs{
        display:block;
    }
    /* 导航文字 */
    .time{
        box-sizing: border-box;
        color:#777;
        font-size:14px;
        margin:0px;
        height:50px;
        padding-bottom:20px;
        width: 15%;
        height: 60px;
        display: flex;

        /* justify-content: flex-start; */
        justify-content: start;
    }
    .time span{
        display: inline-block;
        /* display: flex; */
        /* overflow: flex;
        flex-wrap: nowrap;
        overflow-wrap: unset;
        word-wrap: break-word; */
        word-break: keep-all;
        vertical-align: top;
        padding:0;
        margin-right:10px;;
        /* width:80%; */
        height: 100%;
        text-overflow: clip;
    }
    .time a{
        width:30px;
        background:red;
    }
    .time a2{
        /* padding-left:-5%; */
        /* margin:0; */
    }
    .time a img{
        vertical-align: top;
        padding-top:10px;
    }
    .weixin{
        text-align: right;
        margin-top:60px;
        position: absolute;
        top:0;
        right:0;
        margin-right:5%;
        display: none;
        margin-right:100%;
    }
    /* 有问题不显示 */
    .time a2:hover img{
        display: block;
    }
}
/*中屏*/
/*
@media screen and (max-width:1200px){
     中屏幕 整体样式
     .header{
         width:100%;
         height:60px;
         background:#262626;
         display: block;
         justify-content: space-between;
     }
     ul li{
        list-style: none;
     }
     a{
        text-decoration:none;
        color:#fff;
     }
     .nlogo{
        display: block;
        float:left;
     }
     .nlogo::after{
         content: "";
         display: block;
         width:50px;
         height:50px;
         border:1px solid #fff;
         float:right;
        
     }
     .header li{
         display:block;
     }

}*/