/* 整体公共样式*/
 body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background:#f7f7f7;
    font-family:微软雅黑;
    display: block;
    box-sizing:border-box;
    float:left;
}
div{
    margin:0 auto;
}
.vip_container{
    width:1200px;
}
/*成为会员公共样式*/
.sub_container{
    width:1200px;;
    height:100%;
}
/*大屏*/
@media screen and (min-width:1201px){
/*头部样式*/
/*头部手风琴目录*/
/*中间-成为会员—头部*/
.title{
    padding:100px 0px 20px 0px;
    width:100%;
    font-size:25px;
    font-weight:lighter;
    line-height:32px;
    text-align:center;
    border-bottom:1px solid #ccc;
}
/*内容-成为会员——身体*/
/*成为会员整体样式*/
#vip_member{
    width:100%;
    float:left;
    text-align:center;
}
li{list-style:none;}
/*内容-成为会员—身体—头——扫码绑定*/
#vip_member>h1{
    width:100%;
    box-sizing:border-box;
    line-height:90px;
    font-size:36px;
    text-align:center;
    float:left;
    letter-spacing:0.3rem;/*字与字之间的空隙*/
    color:#262626;
}
  /*内容-成为会员—身体—中间——购物积分等6个*/
.member_gn{
    width:77%;
    text-align:center;
    float:left;
    padding:0 11.5%;
}
.member_gn ul{
    padding:0;
    margin:0;
}
.member_gn li:first-child{
    width:50%;
    float:left;
    padding:0;
    box-sizing:border-box;
}
.member_gn li:last-child{
    width:50%;
    float:left;
    text-align:center;
    margin:0;
    padding:0;
}
.member_gn span{
    float:left;
    width:45%;
    border:1px solid #989898;
    margin-bottom:10px;
    margin-right:10px;
    padding:3% 0;
    border-radius:6px;
    color:#666;
    font:normal bold 22px "微软雅黑";
}
.member_gn dd{
    width:45%;
    display:block;
    float:left;
    padding:5% 0;
    margin:0;
}
.member_gn img{
    width:70%;
    padding:15px 15px 0 0;
}
.member_gn dt{
    width:55%;
    display:block;
    float:left;
    text-align:left;
    line-height:30px;
    margin-top:18%;
    /*font:bold 20px "微软雅黑";这样写没有行之间的间距*/
    font-size:20px;
    font-weight:bold;
    color:#666;
}
/*内容-成为会员—身体—中间——取消卡*/
.member_gnline{
    width:77%;
    background:#ccc;
    color:#333;
    font-size:20px;
    line-height:55px;
    text-align:center;
    float:left;
    padding:0 11.5%;
    display:block;
    border-radius:6px;
    margin:30px 0;
    font-weight: lighter;
    letter-spacing: 2px;
}
/*内容-成为会员—身体—中间——微信注册流程字体*/
.member_gn>h1{
    width:77%;
    color:#262626;
    line-height:50px;
    margin:20px auto 10px;
    text-align:center;
    float:left;
    padding:0 11.5%;
    letter-spacing: 0.5rem;
    font-weight: normal;
    font-size: 36px;
}

/*内容-成为会员—身体—尾部——步骤图片*/
.member_step{
    display:block;
    width:100%;
    color:#666;
    font-size:20px;
}
.member_step ul{
    width:77%;
    margin:0 8%;
    font-weight: lighter;
}
.member_step ul li{
    float:left;
    width:30%;
    margin:5% 0 40px 5%;

}
.member_step ul li img{
    /* width:270px; */
    /* height: 530px; */
    width:100%;
    color:#666;
    font-size:20px;
    float:left;
}
#img4,#img5,#img6{
    margin-bottom:30px;
}
#img1,#img4{
    margin-left:0;
}
/* 办理地址矢量图 */
.member_step .reg_add img{
    display: block;
    width: 445px;
    height:123px;
    margin: auto;
    padding-top:4%;
    padding-bottom:3%;
}
/*内容-成为会员—身体—尾部——table表格   */
.member_step table{
    width:100%;
    float:left;
    border:1px solid #b7b7b7;
    text-align:center;
    border-collapse:collapse;
    font-size:15px;
    font-weight:lighter;
}
.member_step table thead tr td{
    border:1px solid  #b7b7b7;
}
.member_step table thead tr td:first-child{
    width:14%;
    height:50px;
}
.member_step table thead tr td:nth-child(2),
.member_step table thead tr td:nth-child(4){
    width:24%;
}
.member_step table tbody td{
    border:1px dashed #999;
}
.member_step table thead tr td:nth-child(3){
    width:38%;
}
.member_step table  tbody tr{
    height:75px;
}
.member_step table  tbody tr td:not(:first-child){
    text-align: left;
    padding-left:8px;
}
.member_step table  tbody strong{
    font-weight:normal;
}
.member_step .strong1{
    font-weight:bold;
}
.member_step span{
    line-height: 30px;
}

/*内容-成为会员—身体—尾部——事项声明*/
/*温馨提示*/
.tips{
    display:block;
    float:left;
    width:10%;
    border:1px solid #ddd;
    font-size:14px;
    text-align:center;
    line-height:30px;
    border-radius:13px;
    color: #333;
    font-weight:bold;
    margin-top:-36px;
    margin-left:5%;
    background:#fff;
}
.dashed1{
    display:block;
    float:left;
    width:100%;
    border-bottom:1px dashed #ddd;
    margin-top:42px;
    margin-bottom:20px;
}

/*事项声明*/
.tips_text{
    margin-top:20px;
    margin-bottom:100px;
    width:90%;
    display:block;
    float:left;
    text-align:left;
    font-size:12px;
    color:#666;
    line-height:20px;
    font-size:14px;
    font-weight: lighter;
    }
/*尾部地图*/

/*尾部手风琴*/
}


/*中小屏*/
@media screen and (max-width:1200px){
    .sub_container{
        width:96%;
        height:100%;
    }
    .title{
        padding:5% 0px 20px 0px;
        width:100%;
        font-size:18px;
        font-weight:lighter;
        line-height:10%;
        text-align:center;
        border-bottom:1px solid #ccc;
    }
    /*内容-成为会员——身体*/
    /*成为会员整体样式*/
    #vip_member{
        width:100%;
        float:left;
    }
    li{list-style:none;}
    /*内容-成为会员—身体—头——扫码绑定*/
    #vip_member>h1{
        width:100%;
        box-sizing:border-box;
        line-height:25px;
        font-size:16px;
        text-align:center;
        float:left;
        letter-spacing:0.3rem;/*字与字之间的空隙*/
        color:#262626;
        padding:0 40px;
    }
      /*内容-成为会员—身体—中间——购物积分等6个*/
    .member_gn{
        width:77%;
        text-align:center;
        float:left;
        padding:0 11.5%;
    }
    .member_gn ul{
        padding:0;
        margin:0;
    }
    .member_gn li:first-child{
        width:100%;
        float:left;
        padding:0;
        box-sizing:border-box;
    }
    .member_gn li:last-child{
        width:100%;
        float:left;
        margin:0;
        padding:0;
    }
    .member_gn span{
        float:left;
        width:47%;
        border:1px solid #989898;
        padding:10px 0;
        border-radius:6px;
        color:#666;
        font:normal normal 15px "微软雅黑";
        margin:0 0 15px 2%;
    }

    .member_gn dd{
        float:left;
        padding:10px 0;
        width:50%;
        text-align:right;
        padding:0;
        margin:0;
    }
    .member_gn img{
        width:100px;
        padding:15px 15px 0 0;
    }
  
    .member_gn dt{
        width:45%;
        display:block;
        float:left;
        text-align:left;
        line-height:20px;
        margin-top:25px;
        /*font:bold 20px "微软雅黑";这样写没有行之间的间距*/
        font-size:12px;
        font-weight:bold;
        color:#666;
    }
    /*内容-成为会员—身体—中间——取消卡*/
    .member_gnline{
        width:90%;
        background:#ccc;
        color:#333;
        font-size:13px;
        line-height:20px;
        text-align:center;
        float:left;
        padding:10px 5%;
        display:block;
        border-radius:6px;
        margin:30px 0;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    /*内容-成为会员—身体—中间——微信注册流程字体*/
    .member_gn>h1{
        width:90%;
        color:#262626;
        line-height:0px;
        text-align:center;
        float:left;
        padding:0 5%;
        font-size:18px;
        font-weight: normal;
        letter-spacing: 0.5rem;
    }
    
    /*内容-成为会员—身体—尾部——步骤图片*/
    .member_step{
        width:100%;
        color:#666;
        font-size:14px;
        box-sizing: border-box;
    }
    .member_step ul{
        padding:0;
        width:77%;
        margin:0;
        margin-right:11.5%;
        margin-left:11.5%;
    }
    .member_step ul li{
        float:left;
        width:43%;
        margin:10px 0;
        text-align:center;
        font-weight: lighter;
    }
    .member_step ul li img{
        width:100%;
        color:#666;
        float:left;
    }
    #img5,#img6{
        margin-bottom:50px;
    }
    #img2,#img4,#img6{
        margin-left:14%;
    }

/* 办理地址矢量图 */
.member_step .reg_add img{
    display: block;
    width: 300px;
    height:83px;
    margin: auto;
    padding-top:4%;
    padding-bottom:3%;
}
/*内容-成为会员—身体—尾部——table表格   */
.member_step table{
    width:92%;
    float:left;
    border:1px solid #b7b7b7;
    text-align:center;
    border-collapse:collapse;
    font-size:12px;
    font-weight:lighter;
    margin-left:4%;
    /* background: yellow; */
}
.member_step table thead tr td{
    border:1px solid  #b7b7b7;
}
.member_step table thead tr td:first-child{
    width:14%;
    height:50px;
}
.member_step table thead tr td:nth-child(2),
.member_step table thead tr td:nth-child(4){
    width:24%;
}
.member_step table tbody td{
    border:1px dashed #999;
}
.member_step table thead tr td:nth-child(3){
    width:38%;
}
.member_step table  tbody tr{
    height:41px;
}
.member_step table  tbody tr td:not(:first-child){
    text-align: left;
    padding-left:8px;
}
.member_step table  tbody strong{
    font-weight:normal;
}
.member_step .strong1{
    font-weight:bold;
}
.member_step tbody tr:first-child td:nth-child(3){
    padding-top:8px;
    padding-bottom: 8px;
    height:122px;
}
    
    /*内容-成为会员—身体—尾部——事项声明*/
    /*温馨提示*/
    .tips{
        display:block;
        float:left;
        width:20%;
        border:1px solid #ddd;
        font-size:13px;
        text-align:center;
        line-height:25px;
        border-radius:13px;
        color: #333;
        font-weight:bold;
        margin-top:-35px;
        margin-left:35px;
        background: #fff;
    }
    .dashed1{
        float:left;
        width:100%;
        border-bottom:1px dashed #ddd;
        margin-top:42px;
        margin-bottom:20px;
        padding:0 auto;
    }
    /*事项声明*/
    .tips_text{
        margin-top:1%;
        margin-bottom:100px;
        width:90%;
        display:block;
        float:left;
        text-align:left;
        font-size:10px;
        color:#666;
        line-height:20px;
        font-size:12px;
        font-weight: lighter;
    }
}